<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" href="newproj.css">
<title>
  Men clothes
</title>
  </head>
  <body>
<h1 class="bestdeal">
  Best Deals found!
</h1> <button onclick="location.href='index.html'" class="backtohomepage">Back to homepage</button>
<div class="menclothesgrid">
 <div>
    <img class="mencloth" src="picsandlogos/m4.jpg">
      <div class="priceflex">
        <h2 Class="price">
          Price 2000 only free delivery
        </h2>
        <p class="detail-item" >
      Fabric: Wool
Cuttings: 4 Meter Standard
Buttons: Included
Season: Summer
Package Includes: 1 x Suit, 8 x Buttons
With Brand Tag And Bag
Note: There might be 1-3 cm errors of dimension data due to pure manual measurement
There might be slight color difference due to different light and monitor effects   
         </p>
      <p class="order-now">Order Now on Whatsapp</p>
        <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">03167235866</p></div></div></div>
  
  
        <div>
          <img class="mencloth" src="picsandlogos/m3.jpg">
            <div class="priceflex">
              <h2 Class="price">
                Price 1950 only free delivery
              </h2>
              <p class="detail-item" >
               Fabric: Wool
                Pattern: Plain
                4 Meter Standard Cutting
                Width: 54 Inches
                Bag Packing
                Buttons Included
                Note: There might be slight color differences due to different light and monitor effects.
                The Item colors will match the open picture
                 
               </p>
            <p class="order-now">Order Now on Whatsapp</p>
              <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">03167235866</p></div></div></div>
  
  
 
              <div>
                <img class="mencloth" src="picsandlogos/m12.jpg">
                  <div class="priceflex">
                    <h2 Class="price">
                      Price 2000 only free delivery
                    </h2>
                    <p class="detail-item" >
                      Fabric: Pashmina Wool
 4 Meter Standard Cutting
 Width: 54 Inches
 Season: Winter
 Premium Quality
 Note: There might be 1-3 cm errors of dimension data due to pure manual measurement
 There might be slight color difference due to different light and monitor effects.
                       
                     </p>
                  <p class="order-now">Order Now on Whatsapp</p>
                    <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">03167235866</p></div></div></div>
        
        
 
  <div>
                <img class="mencloth" src="picsandlogos/m22.jpg">
                  <div class="priceflex">
                    <h2 Class="price">
                      Price 1050 only 
                    </h2>
                    <p class="detail-item" >
                     Fabric: Fleece
Pattern: Plain
Neck Style: Round Neck
Fit: Slim Fit, Regular
Available Sizes: Small, Medium, Large, XL
Size: Small: (Chest 18 Inches, Length 24 Inches), Medium: (Chest 20 Inches, Length 26 Inches), Large: (Chest 21 Inches, Length 28 Inches), X-Large: (Chest 22 Inches, Length 30 Inches)
                       
                     </p>
                  <p class="order-now">Order Now on Whatsapp</p>
                    <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">03167235866</p></div></div></div>      
         <div>
                <img class="mencloth" src="picsandlogos/m33.jpg">
                  <div class="priceflex">
                    <h2 Class="price">
                      Price 1050 only 
                    </h2>
                    <p class="detail-item" >
                     Fabric: Fleece
Pattern: Plain
Neck Style: Round Neck
Fit: Slim Fit, Regular
Available Sizes: Small, Medium, Large, XL
Size: Small: (Chest 18 Inches, Length 24 Inches), Medium: (Chest 20 Inches, Length 26 Inches), Large: (Chest 21 Inches, Length 28 Inches), X-Large: (Chest 22 Inches, Length 30 Inches)
                       
                     </p>
                  <p class="order-now">Order Now on Whatsapp</p>
                    <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">03167235866</p></div></div></div>      
             <div>
                <img class="mencloth" src="picsandlogos/m44.jpg">
                  <div class="priceflex">
                    <h2 Class="price">
                      Price 2950 only 
                    </h2>
                    <p class="detail-item" >
                    Fabric: Wool
Standard Cutting: 4 Meter
8 Buttons Included
Tag Included
Stamp Included
Bag Included
                    </p>
                  <p class="order-now">Order Now on Whatsapp</p>
                    <div class="contactme"><img class="whatsapp-icon" src="picsandlogos/whatsappicon.png"><p class="number">03167235866</p></div></div></div>      
   
 

                                                                
</div>
  </body>

</html>
